
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

#logo{
    max-width: 20%;
    max-height: 20%;
}

.container > p{
    font-size: 2em;
    text-align: center;

}

.attribution{
    float: bottom;
    position: absolute;
}


*{
    margin: 0;
    box-sizing: border-box;
}



body{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;

    
}
.main-bg{
    position: absolute;
    width: 30vw;
    height: 100%;
    object-fit: fill;
    
}

.container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em;
    margin-left: 30vw;
    font-size: 1.5em;
}



input{
    font-size: 1.5em;
    margin-bottom: 1em;

}

button{
    background-color: hsl(278, 68%, 11%);
    color: white;
    width: 100%;
    font-size: 1.2em;
    padding: 10px 0px 10px 0px;
    border-radius: 4px;
}

#card-front{
    color: white;
    background-image: url(images/bg-card-front.png);
    background-size: cover;
    border-radius: 20px;
    
    top: 10rem;
    left: 8%;
    position: absolute;
    padding: 3%;

    display: inline-block;

   
}



.to-right{
    float: right;
}

.to-left{
    float: left;
}


.card-number{
    margin-top: 20px;
    margin-bottom: 20px;

    
}


.complete{
    padding: 300px;
    display: none;
    
}

input{
    padding: 0.2em 0.2em 0.2em 0.2em; 
    margin-top:  0.2em;
}
#cardBack{
    position: absolute;
    bottom: 28%;
    left: 13%;
    width: 1%;
}
#txt{
    position: relative;
}

#phoneBg{
    display: none;
}

#cardBack img 
{
 max-width: 400px;
 max-height: 250px;
}



@media (max-width: 500px){
   
    #desktopBg{
        display: none;
    }
    #phoneBg{
        display: inline;
        position: absolute;
        width: 120%;
        height: 30%;
        object-fit: fill;
        top: 0;
        padding: 0;
        margin: none;
        left: 0;
        right: 0;
    }
    
    .container{
        margin: 35vh 0 0 0;
        width: 90%;
        padding: 4em;
        font-size: 0.75em;
    }
    #cardBack{
        position: absolute;
        bottom: 80%;
        max-width: 10%;
        top: 2.5%;
        left: 28%;
    }
    #card-front{
        top: 5em;
        font-size: 0.7em;
        color: white;
        background-image: url(images/bg-card-front.png);
        left: 8%;
        position: absolute;
        padding: 6%  8%  2% 6%;
        border-radius: 10px;
    }

    #cardBack img{
        max-width: 250px;
    }

    .to-right{
        float: right;
    }
    
    .to-left{
        float: left;
    }

}



